.row
  .col-md-4.col-md-offset-4
    = form_for [:teachers, @group] do |form|
      %p
        = form.label :title
        %br/
        = form.text_field :title, class: 'form-control'
        %br/
        = form.label :user
        %br/
        = form.select :user_ids, User.all.map{|a| [a.email, a.id] }, {}, {class: 'form-control', multiple: true}
      %p
        = form.submit