= form_for [:teachers, @group] do |form|
  %p
    = form.label :title
    %br/
    = form.text_field :title
    %br/
    = form.label :user
    %br/
    = form.select :user_ids, User.all.map{|a| [a.email, a.id] }
  %p
    = form.submit