%h1 Listing guestions

%button.btn.btn-success{:type => "button",:onclick => "window.location.href='/teachers/questions/new'"} Create new question

%table
  %tr
    %th Questions
    %th
  - @questions.each do |question|
    %tr
      %td= question.title
      %td= question.text
      %td= link_to 'Show', teachers_question_path(question), class: 'btn btn-success'
      %td= link_to 'Edit', edit_teachers_question_path(question), class: 'btn btn-success'
      %td= link_to 'Destroy', teachers_question_path(question), class: 'btn btn-success',
              method: :delete,
              data: { confirm: 'Are you sure?' }