<%= form_with scope: @quiz, url: teachers_quizzes_new_path, local: true do |form| %> 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
<%= link_to 'Back', teachers_quizzes_path %>