<!DOCTYPE html>
<html>
  <head>
    <title>RubyQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if current_user.teacher? %>
              <li role="presentation"><%= link_to 'Exams', [:teachers, :exams] %></li>
            <% end %>
            <% if user_signed_in? %>
              <li role="presentation"><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
            <% else %>
              <li role="presentation"><%= link_to 'Log In', '/users/sign_in' %></li>
              <li role="presentation"><%= link_to 'Register', '/users/sign_up'  %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted pull-left">RubyQuest</h3>
        <%= current_user.role %>
      </div>
      <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning" role="alert"><%= alert %></div>
      <% end %>
      
        
     
      <%= yield %>
    </div>
  </body>
</html>
