<!DOCTYPE html>
<html>
  <head>
    <title>RubyQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', '/users/sign_out', class: 'btn btn-danger', method: :delete %>
      <% else %>
        <%= link_to 'Log In', '/users/sign_in', class: 'btn btn-primary' %>
        <%= link_to 'Register', '/users/sign_up', class: 'btn btn-success'  %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
